<p>
  <%= link_to 'Incrições', inscriptions_path %>
</p>
<p>
  <%= link_to 'Endereços', addresses_path %>
</p>
<p>
  <%= link_to 'Equipes', teams_path %>
</p>
<p>
  <%= link_to 'Emails', emails_path %>
</p>

