<div class="container">
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><%=  link_to 'Inscrições', new_inscription_path %></li>
      <li><%=  link_to 'Link 2', new_inscription_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
     <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
   </ul>
 </div>
</div>

